<%-include("partials/header.ejs")%>
<div class="container">
    <h1>Student Records</h1>
<div class="form-group">
    <input id="search" type="text" class="form-control" placeholder="Enter Name or Roll no" autocomplete="off">
</div>
<div id="match-list">
</div>
</div>
<%-include("partials/footer.ejs")%>